body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-family: Bitter, serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  width: 100%;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.hire {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  background-color: #1773eb;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  letter-spacing: 3px;
}
.domesticimage {
  float: right;
}
.testimonials {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
  background-color: #009bba;
  color: white;
}
.testimonial-text {
  padding-right: 60px;
  padding-left: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}
.footer {
  background-color: #009bba;
  opacity: 0.86;
}
.profile {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.profile_img {
  max-height: 110px;
  min-height: 110px;
  margin-bottom: 10px;
  border-radius: 60px;
  box-shadow: #0093fc 1px 1px 3px 3px;
}
.name {
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
}
.logo_text {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: none;
  font-family:'Changa One', Impact, sans-serif;
  color: #1287db;
  font-size: 51px;
  text-align: left;
  text-shadow: #363836 5px 5px 4px;
}
.nav {
  padding-top: 0px;
  padding-right: 15px;
  font-family: Bitter, serif;
  color: #1287db;
  font-size: 19px;
  text-decoration: none;
}
.navwrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
}
.logo_footer {
  padding: 20px;
  font-family:'Changa One', Impact, sans-serif;
  color: white;
  font-size: 44px;
}
.descripcion {
  padding: 11px;
  font-family: Bitter, serif;
  color: white;
  font-size: 16px;
  text-align: justify;
}
.footerlinks {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 15px;
  text-align: right;
  text-decoration: underline;
}
.footer-links {
  padding-right: 32px;
  text-align: right;
}
.senorasignup {
  margin-top: -57px;
  padding: 28px 18px;
  border: 8px solid #035fff;
  border-radius: 10px;
  background-color: #e1f7fa;
}
.registrate {
  width: 100%;
  border-radius: 6px;
  background-color: #990b0b;
  font-family: Bitter, serif;
  color: white;
  font-size: 31px;
}
.label_dropdown {
  margin-top: 17px;
  margin-bottom: 17px;
  color: #595959;
  font-size: 18px;
}
.descriptiontitle {
  font-family:'Changa One', Impact, sans-serif;
  font-size: 32px;
}
.descriptiontext {
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  text-align: justify;
}
.comentariotitle {
  font-family:'Changa One', Impact, sans-serif;
  font-size: 15px;
}
.comentariosrow {
  margin-top: 23px;
}
.loginform {
  padding: 33px 255px;
}
.loginbutton {
  width: 100%;
}
.loginbutton.hire {
  border-radius: 10px;
  background-color: #0c6ff0;
  font-family: Bitter, serif;
  font-size: 20px;
}
.msgerror {
  background-color: #fa7070;
}
.errortext {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Bitter, serif;
  color: white;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 991px) {
  .nav {
    padding-left: 33px;
  }
  .logo_footer {
    overflow: visible;
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .logo_text {
    text-align: center;
    text-shadow: #363836 5px 5px 4px;
  }
  .senorasignup {
    margin-top: 0px;
  }
  .empleado_empleador {
    text-align: center;
  }
}
@media (max-width: 479px) {
}